<div class="mainScreen2">
    <div>
        <div class="cabecera">
            <!-- <div class="container"> -->
                <div class="row w-100">
                    <div class="col-2">
                        <button class="btn btn-sm rounded-pill fw-bold ps-3 pe-3 " 
                            (click)="returnSystem()"
                            style="background-color: white; color: gray; margin-top: 2em; margin-left: 1em;">
                            Volver al Hub
                        </button>
                    </div>
                    <div class="col-8">
                        <h1 class="titleUno pt-5" >Multinegocios Alfredo</h1>
                        <span class="divCenter" >Encuentra los negocios asociados al  <b style="margin-left: 0.2em;">  R.U.C 1104506892001</b></span>
                        <div class="divCenter " >
                            <div class="col-5">
                                <input type="text" class="form-control form-control-sm rounded-pill">
                            </div>
                        </div>
                        </div>
                        
                    <div class="col-2">

                    </div>
                </div>   
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 pb-3" *ngFor="let el of arreglo"> 
                    <div class="card shadow" >
                        <div class="card-body">
                            <div class="divCenter">
                                <img src="../../../assets/img/empresa.png" alt="" style="object-fit: scale-down;">
                            </div>
                          <h5 class="card-title">Título de la tarjeta</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6>
                          <!-- <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p> -->
                          <!-- <a href="#" class="card-link">Enlace de tarjeta</a>
                          <a href="#" class="card-link">Otro enlace</a> -->
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
